@import './variables.scss';

/* reset styles */
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: $font-s;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;;
  color: $color-b;
  overflow: hidden;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input, select, textarea, button {
  font-family: inherit;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}