$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 18px;
$font-xxl: 20px;

$white: #FFFFFF;
$color-primary-light: #5CADFF;
$color-primary: #2D8CF0;
$color-primary-dark: #2B85E4;
$color-success: #19BE6B;
$color-waring: #FF9900;
$color-error: #ED3F14;

$color-title: #1C2438;
$color-content: #495060;
$color-sub: #80848F;
$color-disabled: #BBBEC4;
$color-border: #DDDEE1;
$color-divider: #E9EAEC;
$color-background: #F5F7F9;
